<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<title>Recipe Box</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/style.css" media="screen" title="no title" />
</head>

<body>
	{{{ body }}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/recipebox.js"></script>
</body>

</html>