<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to your recipe box!</h1>
            <p class="lead">
                Here is a simple way to save, review & edit all your recipes. You
                can save your own recipes and search your recipes by category to
                help you stay organized and make your recipes accessible anywhere!
            </p>
            <div class="container">
                <div class="row1">
                    <hr class="my-4" />
                    <p>Let's Get Started!</p>
                    <a class="btn btn-lg viewallbtn" href="/viewall" role="button">View All Recipes</a>
                    <br>
                    {{!-- <a class="btn login btn-lg viewallbtn" role="button">
                Login
            </a> --}}
                    <br>
                </div>




                <div class="row">
                    <div class="col-md-5 offset-md-3">
                        <form id="cms">
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <textarea type="text" class="form-control" id="title"
                                    value="Give your recipe a name"></textarea>
                                <br>
                                <label for="servesize">Serving Size:</label>
                                <select class="custom-select" id="servingsize">
                                    <option value="lunch">1</option>
                                    <option value="dinner">2</option>
                                    <option value="dessert">3</option>
                                    <option value="beverage">4</option>
                                </select>
                                <br />
                                <br>
                                <label for="body">Ingredients:</label>
                                <br />
                                <textarea class="form-control" rows="10" cols="10" id="ingredients"> </textarea>
                                <br />

                                <label for="category">Select a Category:</label>
                                <select class="custom-select" id="category">
                                    <option value="lunch">Lunch</option>
                                    <option value="dinner">Dinner</option>
                                    <option value="dessert">Dessert</option>
                                    <option value="beverage">Beverage</option>
                                </select>

                                <br />
                                <button type="submit" class="btn btn-primary submit btn-lg" id="submit-btn">
                                    Add Recipe!
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>