<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Recipe Box</h1>
            <hr class="my-4" />
            <button type="add-new" id="addnew-btn" href="/viewall" class="btn view-all btn-lg">
                Add New Recipe
            </button>
            {{#each recipe}}
            <div class="row">
                <div class="recipe-card">
                    <div class="recipe-card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{ingredientname}}</p>
                            <a href="/viewall " class="card-link">{{category}}</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>