<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Recipe Box</h1>
            <hr class="my-4" />

            <button type="add-new" href="/recipes" class="btn view-all btn-lg">
                Add New Recipe <i class="fas fa-utensils"></i>
            </button>


            <div class="row">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            front card
                        </div>
                        <div class="flip-card-back">
                            <div class="recipe-card">
                                <div class="recipe-card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title" style="letter-spacing: inherit;">{{title}}</h5>
                                        <p class="card-text">{{ingredientname}}</p>
                                        <a href="/recipes/{{category}}" class="card-link">{{category}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {{/each}}
        </div>
    </div>
</div>