button.submit {
  margin-top: 20px;
  float: right;
  background-color: #777777;
}
/* 
.row1 {
  display: flex;
  justify-content: left;
  align-items: flex-start;
} */

.row {
  margin-top: 20px;
}

.viewallbtn {
  float: left;
  background-color: white;
  color: #777777;
  float: left;
}

.viewallbtn:hover {
  color: white;
  background-color: #777777;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.jumbotron {
  background: rgba(235, 219, 180, 0.7);
  margin: 20px;
}

body {
  background-image: url("../img/xv.png");
  font-family: "Courier New", Courier, monospace;
}

.display-4 {
  font-weight: bold;
}
