button.submit {
  float: right;
  background-color: #777777;
}

button.view-all button.login {
  float: left;
  background-color: #777777;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.jumbotron {
  background: rgba(235, 219, 180, 0.7);
  margin: 20px;
}

body {
  background-image: url("../img/xv.png");
  font-family: "Courier New", Courier, monospace;
}

.display-4 {
  font-weight: bold;
}
