button.submit {
  margin-top: 20px;
  float: right;
  background-color: #777777;
}

.row {
  margin-top: 20px;
}

.viewallbtn {
  float: left;
  background-color: white;
  color: #777777;
  float: left;
}

.view-all {
  float: left;
  background-color: white;
  color: #777777;
  float: left;
}

.viewallbtn:hover {
  color: white;
  background-color: #777777;
}
.view-all:hover {
  color: white;
  background-color: #777777;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.jumbotron {
  background: rgba(235, 219, 180, 0.7);
  margin: 20px;
}

body {
  background-image: url("../img/xv.png");
  font-family: "Courier New", Courier, monospace;
}

.display-4 {
  font-weight: bold;
}

.card-link {
  color: white;
}

.card-link:hover {
  color: #777777;
}

.recipe-title {
  font-size: 16;
  font-weight: bold;
}
